[submodule "Library/CallbackURLKit"]
	path = Library/CallbackURLKit
	url = git@github.com:ShadowsocksR-Live/CallbackURLKit.git
[submodule "Library/Eureka"]
	path = Library/Eureka
	url = git@github.com:ShadowsocksR-Live/Eureka.git
	branch = master
[submodule "Library/yaml"]
	path = Library/yaml
	url = git@github.com:ShadowsocksR-Live/yaml.git
	branch = master
[submodule "Library/CocoaAsyncSocket"]
	path = Library/CocoaAsyncSocket
	url = git@github.com:robbiehanson/CocoaAsyncSocket.git
	branch = master
[submodule "Library/MMWormhole"]
	path = Library/MMWormhole
	url = git@github.com:ShadowsocksR-Live/MMWormhole.git
	branch = master
[submodule "Library/KissXML"]
	path = Library/KissXML
	url = git@github.com:ssrlive/KissXML.git
	branch = master
[submodule "Library/libmaxminddb"]
	path = Library/libmaxminddb
	url = git@github.com:ShadowsocksR-Live/libmaxminddb.git
	branch = master
[submodule "Library/CocoaLumberjack"]
	path = Library/CocoaLumberjack
	url = git@github.com:ShadowsocksR-Live/CocoaLumberjack.git
	branch = master
[submodule "Library/ssrNative"]
	path = Library/ssrNative
	url = git@github.com:ShadowsocksR-Live/shadowsocksr-native.git
	branch = master
[submodule "Library/QRScanner"]
	path = Library/QRScanner
	url = git@github.com:ShadowsocksR-Live/QRScanner.git
	branch = master
[submodule "overtls"]
	path = overtls
	url = git@github.com:ShadowsocksR-Live/overtls.git
